extends layout.pug

block content
  div(class="index-bar list-group")
    a(href="/register" class="list-group-item list-group-item-action list-group-item-success btn-sm") 注 册
    a.card-link(href="/login" class="list-group-item list-group-item-action list-group-item-success btn-sm") 登 陆 